<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jones.panorama.mapper.HsScMapper" >
    <resultMap id="HsScMap" type="HsSc">
        <id property="hsScId" column="hs_sc_id" />
        <association property="hotspot" resultMap="HotspotMap"/>
    </resultMap>
    <resultMap id="HotspotMap" type="Hotspot">
        <id property="code" column="code" />
        <result property="catalogName" column="catalog_name" />
        <result property="title" column="title" />
        <result property="content" column="content" />
        <result property="styleName" column="style_name" />
        <result property="insertTime" column="insert_time" />
    </resultMap>

    <insert id="insert" parameterType="HsSc">
        insert into pano_hs_sc(`hotspot_code`, `scene_code`, `ath`, `atv`, `role_id`, `insert_time`)
        values(#{hotspotCode}, #{sceneCode}, #{ath}, #{atv}, #{roleId}, now())
    </insert>
    <insert id="update" parameterType="HsSc">
        update pano_hs_sc
        set hotspot_code = #{hotspotCode}, scene_code = #{sceneCode}, ath = #{ath}, atv = #{atv}, role_id = #{roleId}
        where hs_sc_id=#{hsScId}
    </insert>

    <select id="findList" resultType="HsSc" parameterType="Query">
        <include refid="com.jones.panorama.mapper.CommonMapper.startPage" />
        select * from pano_hs_sc
        where 1=1
        <if test="query != null and query.sceneCode != null and query.sceneCode !=''">
            and scene_code = #{query.sceneCode}
        </if>
        <if test="query != null and query.hotspotCode != null and query.hotspotCode !=''">
            and hotspot_code = #{query.hotspotCode}
        </if>
        order by hs_sc_id desc
        <include refid="com.jones.panorama.mapper.CommonMapper.endPage" />
    </select>

    <select id="findHotspotList" resultType="Hotspot" parameterType="Query">
        <include refid="com.jones.panorama.mapper.CommonMapper.startPage" />
        select
            hs.scene_code scene_code,
            hs.ath ath,
            hs.atv atv,
            h.*
        from pano_hs_sc hs, pano_hotspot h
        where hs.hotspot_code = h.code
        <if test="query != null and query.sceneCode != null and query.sceneCode !=''">
            and scene_code = #{query.sceneCode}
        </if>
        order by hs_sc_id desc
        <include refid="com.jones.panorama.mapper.CommonMapper.endPage" />
    </select>

    <select id="findCount" resultType="java.lang.Integer" parameterType="Query">
        select count(*) from pano_hs_sc
        where 1=1
        <if test="query != null and query.sceneCode != null and query.sceneCode !=''">
            and scene_code = #{query.sceneCode}
        </if>
        <if test="query != null and query.hotspotCode != null and query.hotspotCode !=''">
            and hotspot_code = #{query.hotspotCode}
        </if>
    </select>

    <select id="findOne" resultType="HsSc">
        select * from pano_hs_sc where hs_sc_id=#{hsScId}
    </select>


</mapper>