<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jones.panorama.mapper.QuestionMapper" >
    <insert id="insert" parameterType="Question">
        insert into hs_question(`hotspot_code`, `content`, `img_url`, `insert_time`)
        values(#{hotspotCode}, #{content}, #{imgUrl}, now())
    </insert>
    <update id="update" parameterType="Question">
        update pano_hotspot
        set hotspot_code = #{hotspotCode}, content = #{content}, img_url = #{imgUrl}
        where question_id=#{questionId}
    </update>
    <select id="findList" parameterType="Question">
        <include refid="com.jones.panorama.mapper.CommonMapper.startPage" />
        select * from hs_question
        <include refid="com.jones.panorama.mapper.CommonMapper.endPage" />
    </select>
    <select id="findAll" parameterType="Question">
        select * from hs_question
    </select>
    <select id="findCount" resultType="java.lang.Integer" parameterType="Query">
        select count(1) from hs_question
    </select>
</mapper>