<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jones.panorama.mapper.ThumbupMapper" >
    <select id="findCount" resultType="java.lang.Integer" parameterType="Query">
        select count(1) from thumbup
        where 1=1
        <if test="query != null and query.hotspotCode != null and query.hotspotCode !=''">
            and hotspot_code = #{query.hotspotCode}
        </if>
        <if test="query != null and query.sceneCode != null and query.sceneCode !=''">
            and scene_code = #{query.sceneCode}
        </if>
    </select>
    <insert id="insert" parameterType="Thumbup">
        insert into thumbup(hotspot_code, scene_code, user_id, insert_time)
        values(#{hotspotCode}, #{sceneCode}, #{userId}, now())
    </insert>
    <delete id="delete" parameterType="Thumbup">
        delete from thumbup where scene_code=#{sceneCode} and user_id=#{userId}
    </delete>
</mapper>