<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jones.panorama.mapper.UserVisitMapper" >
    <insert id="insert">
        insert into user_visit(username,path, src_ip, insert_time) values(#{username}, #{path}, #{srcIp}, now())
    </insert>
</mapper>