@charset "utf-8";
/* CSS Document */
img:hover {
  cursor: pointer;
}
/*首页*/
.imgbg{height: 400px;}
.nav{margin-top: 0px;height: 90px;border-bottom: 2px solid #be996d;}
.navimg{height: 90px;width: 1200px;margin: 0 auto;}
.contentp1{width: 1200px;height: 274px;margin-top: 20px;margin-bottom: 20px;}
.ctext{font-size: 16px;width: 734px;float: left;line-height: 29px;padding: 20px;}
.btn1{width: 177px;height: 51px;border-radius:8px;background-color:#5ea616; text-align:center; font:700 18px/51px "微软雅黑"; color:#eee;}
.btn1:hover{text-decoration:none;}
.ban{height: 50px;border-bottom: 2px solid #be996d;clear: both;}
.bantitle{width: 5px;height: 16px;background-color: #638249;float: left;margin-left: 9px;margin-top: 17px;}
.bantitf{font-size: 22px;line-height: 50px;color: #7a4d16;width: 100px;}
.gengduo{line-height: 50px;margin-right: 20px;color: #7a4d16;}
.user_index_head{font-size: 22px;line-height: 50px;color: #7a4d16;}
.writ{margin-top: 20px}
.writer{width: 560px;padding: 20px;height: 225px;float: left;}
.writerIndex{width: 310px;padding: 10px;height: 120px;float: left;}
.writer1{width: 200px;line-height: 20px;}
.writer2{line-height: 20px;}
.writer3{width: 510px;padding: 10px;height: 120px;float: left;}
.writer4{width: 300px;line-height: 20px;}
.font1{font-size: 20px;color: #7a4d16;}
.fl{float:left;}

.font2{font-size: 12px;color: #9f9f9f;}
.frame{width: 1190px;height: 65px;border: 1px solid #eaeaea;padding-right: 10px;padding-top: 12px;margin-bottom: 5px;}
.pic{width: 268px;padding: 24px;line-height: 22px;cursor: pointer;}
.pic2{width: 268px;padding: 14px;}
.pict{height: 350px;clear: both;}
/*.pic:hover{background-color: #f9f9f9;}*/
.pichover{
	background-color: #f4f4f4;
	border: 1px solid #debd96;
	margin: -1px;
}
/*书稿信息*/
.person1{height: 1px;margin: 0;clear: both;}
.person2{height: 38px;width: 1200px;margin: 0 auto;background-color: #e3e3e3;}
.person3{font-size: 14px;line-height: 38px;width: 173px;color: #808080;}
.personcolor{background-color: #f1dcc4;}
.personfcolor{color: #c98345;}
.person4{font-size: 14px;line-height: 38px;width: 180px;color: #808080;}
.person5{color: #945305;font-size: 18px;padding: 25px 20px;}
.person7 tr{height: 50px;}
.person7 tr td{font-size: 15px;font-family: "微软雅黑";}
.person7 .title{width: 160px;text-align:right;}
.person6{height: 35px;background-color: #e8e8e8;font-size: 14px;color: #805e4d;line-height: 35px;padding-left: 20px;}
.person7{width: 980px;margin: 0 auto;}
.btn4{background-color: #c4c4c4;width: 90px;height: 32px;font-size: 15px;line-height: 32px;}
.btn5{width: 248px;height: 61px;font-size: 19px;background-color: #caa476;line-height: 61px;margin: 10px auto;}
.perfont1{font-size: 12px;color: #8d8d8d;}
.perfont2{margin-left:5px;font-size: 12px;color: #cd0000;}
.person7 tr td input{height: 30px;}
.person7 tr td textarea{height: 100px;width: 640px;resize: none;}
.person8{width: 1198px;height: 320px;border: 1px solid #e8e8e8;}
.person9{width: 980px;margin: 10px auto;padding: 30px;}
.person10{width: 165px;color: #debd96;font-size: 20px;height: 40px;line-height: 40px;margin: 15px auto;font-family: "微软雅黑";}
.person11{font-size: 14px;color: #444444;line-height: 30px;}
/*书籍风格*/
.book1{width: 350px;height: 200px;background-color: #f9f9f9;border: 3px solid #debd96;margin-bottom: 5px;}
.book2{font-size: 16px;color: #ff6000;height: 25px;padding-top: 10px;}
/*个人信息*/
.person12{height: 100px;border-top: #e6e6e6 1px dashed;padding: 10px 0;margin-top: 10px;clear: both;}
.perfont3{color: #8d8d8d;font-size: 12px;}
.person13{width: 508px;margin: 0 auto;height: 60px;padding: 25px 0;}
/*个人空间*/
.space1{width: 508px;float: left;display: none;}
.space1 tr{height: 50px;}
.space1 tr td{font-size: 15px;font-family: "微软雅黑";}
.space1 tr td input{height: 30px;}
.space1 tr td textarea{height: 100px;width: 250px;resize: none;}
.space2{border: 1px solid #e6ccb6;width: 196px;float: left;}
.space3{border-top: 1px dashed #e6ccb6;height: 45px;padding: 0 20px;color: #343434;font-size: 14px;line-height: 45px;}
.space4{height: 45px;padding: 0 20px;color: #343434;font-size: 14px;line-height: 45px;}
.spacebg{background-color: #e9e9e9;}
.space5{width: 241px;float: left;margin: 0 20px;}
.space6{height: 18px;font-size: 12px;color: #6a6a6a;line-height: 18px;margin-bottom: 5px;}
.space7{float: left;padding: 20px 0px;width: 500px;line-height: 30px;}
.spacebtn1{width: 109px;height: 32px;background-color: #debd96;font-size: 12px;line-height: 32px;text-align: center;margin: auto;}
.spacebtn2{background-color: #6cca6c;width: 126px;height: 35px;font-size: 15px;line-height: 35px;}
.spacecheck{position: relative;top: 3px;}
/*指定编辑*/
.bianjiimg1{position: relative;top: 3px;left: 5px;}
/*销售方式*/
.xiaoshou1{font-size: 14px;color: #4f4f4f;line-height: 40px;clear: both;padding: 0 40px;}
.xiaoshou2{position: relative;top: 3px;}
/*提交选题*/
.xuanti1{font-size: 14px;font-family: "微软雅黑";color: #945305;width: 100px;}
.xuanti2{font-size: 12px;color: #676767;}
.xuanti3{margin: 15px 30px;}
.xuanti3 tr{height: 30px;}
.xuanti4{color: #676767;font-size: 12px;line-height: 50px;text-indent: 40px;}
.xuanti5{font-size: 12px;color: #ff0000;}
.xuantibtn{background-color: #e7c9ae;width: 67px;height: 28px;line-height: 28px;text-align: center;}
.xuanti6{width: 1200px;border-top: 2px dashed #be996d;clear: both;padding: 20px;}
/*作者详情*/
.wrimes1{
	height: 20px;
	/*background-color: #f1f1f1;*/
	width: 1180px;
	margin: 0px auto;
	clear: both;
	padding: 10px 10px;
}
.wrimes2{float: left;margin: 0 20px;width: 830px;}
.wrimes3{border: 1px solid #e9e9e9;width: 196px;float: left;}
.wrimes4{border-bottom: 1px dashed #e9e9e9;height: 45px;padding: 0 20px;font-size: 16px;line-height: 45px;}
.wrimes5{border-bottom: 1px dashed #e9e9e9;height: 50px;padding: 0 5px;color: #6f6f6f;font-size: 12px;line-height: 20px;text-indent: 20px;}
.wrimes6{height: 50px;padding: 0 5px;color: #6f6f6f;font-size: 12px;line-height: 20px;text-indent: 20px;}
.wrimesbg{background-color: #e6ccb6;}
.wrimescolor{color: #debd96;}
.wrimescolor2{color: #343434;}
.wrimes7{clear: both;height: 300px;}
.wrimes8{margin-left: 45px;}
.wrimes9{width: 480px;border-bottom: 1px dashed #dd6000;font-size: 14px;font-weight: bold;line-height: 28px;}
.wrimes11{clear: both;}
.wrimes10{font-size: 12px;width: 430px;}
.wrimes10 tr{height: 25px;}
.wrimes11{border-bottom:1px solid #dd6000;}
.wrimes12{height: 34px;background-color: #dd6000;font-size: 14px;line-height: 34px;padding: 0 20px;width: 100px;}
.wrimes13{height: 34px;background-color: #dd6000;font-size: 14px;line-height: 34px;padding: 0 20px;width: 100px;}
.wrimesfont1{line-height:40px;padding:0 20px;}
.wrimesfont2{line-height:24px;padding:0 30px;}
.wrimesfont3{color:#116ea9;}
.wrimesfont4{color:#a2a2a2;}
.wrimesfont5{color:#4095ce;font-size:14px;font-weight: bold;}
.wrimesfont6{color:#999999;font-size:14px;font-weight:bold;}
.wrimesfont7{color:#ffb900;}
.wrimesfont8{color:#4095ce;}
.wrimes14{line-height: 26px;}
.wrimes15{border:1px solid #e9e9e9;padding:10px;}
.wrimes16{width: 180px;float: left;}
.wrimes17{padding:20px 0;height: 80px;}
.wrimes18 {
  /*height: 50px;*/
  padding: 20px 10px;
  border-bottom: 1px solid #e4e4e4;
}
/*编辑详细*/
.bianjixiangxibtn1{width: 153px;height: 41px;background-color: #cfb095;float: left;line-height: 41px;}
.recall {
  position: relative;
  border: 1px solid #e4e4e4;
  background-color: #f4f4f4;
  padding: 10px;
  margin: 0px 60px;
  z-index: 1;
}

/*草签合同*/
.hetongtable{border:1px solid #e9e9e9;margin-top: 20px;}
.hetongtable tr{border-bottom: 1px solid #e9e9e9;}
.hetongtable tr td{font-size: 14px;line-height: 30px;padding: 0 20px;}
.hetongtdbg{background-color: #f7f7f7;}
.hetong1{width: 1198px;height: 820px;border: 1px solid #e8e8e8;margin: 10px auto;padding: 0 30px;}
.hetong2{width: 860px;border: 1px solid #e8e8e8;margin: 10px auto;padding: 10px 30px;}
/*登陆*/
.denglu1{float: left;border: 1px solid #c1a78f;width: 285px;height: 308px;margin-left: 15px;}
.denglu2{height: 40px;padding: 0 20px;border-bottom: 3px solid #e8e8e8;color: #7c7c7c;line-height: 40px;}
.denglubtn{width: 95px;height: 40px;font-size: 16px;background-color: #45b114;line-height: 40px;}
.denglu3{padding: 20px;}
.denglu4{color: #7c7c7c;line-height: 30px;}
.dengluinput{height: 27px;border: 1px solid #c1a78f;width: 240px;}
/*书籍首页*/
.bookmaincolor1{color: #815e3f;}
.bookmaincolor2{color: #666666;}
.bookmain1{width: 170px;border: 1px solid #bd9775;float: left;}
.bookmain2{float: left;margin-left: 10px;width: 810px;margin-bottom: 10px;}
.bookmain3{float: left;margin-left: 10px;width: 190px;}
.bookmain4{background-color: #bd9775;text-align: center;line-height: 37px;}
.bookmain5{padding: 5px;border-bottom: 1px dashed #e2e2e2;}
.bookmain6{height: 42px;text-align: center;line-height: 42px;background-color: #f0f0f0;}
.bookmain7{height: 36px;background-color: #ececec;line-height: 36px;margin-bottom: 10px;}
.bookmain9{height: 36px;border: 1px solid #f4f4f4;line-height: 36px;padding: 0 10px;}
.bookmain10{border: 1px solid #f0f0f0;}
.bookmain11{height: 42px;text-align: center;line-height: 42px;background-color: #f0f0f0;color: #945305;font-size: 16px;font-weight: bold;}
.bookmain12{border-bottom: 1px dashed #e2e2e2;padding: 5px;clear: both;height: 110px;}
.bookmain13{border-bottom: 1px dashed #e2e2e2;clear: both;line-height: 32px;color: #585858;font-size: 12px;padding: 0 10px;}
.bookmain13 span:hover {text-decoration: underline;}
.tougao{background-color: #bc813a;width: 45px;height: 20px;line-height: 20px;float: right;}
.bookmain9 ul li {
  float: left;
  margin-right: 20px;
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
}
.bookmain9 ul li img {
  position: relative;
  top: 13px;
}
.bookmain9-active {
  background-color: #f0f0f0;
}
/*我的书籍*/
.mybook1{float: left;margin: 0 20px;}
.mybook2{color: #7d4717;line-height: 30px;}
.mybook3{height: 34px;font-size: 14px;line-height: 34px;padding: 0 20px;width: 100px;color: #757575;border:1px solid #757575;float: left;border-left: none;border-bottom: none;}
.mybook4{border: 1px solid #e9e9e9;margin-top: 20px;margin-bottom: 20px;}
.mybook4 tr{border-bottom: 1px solid #e9e9e9;height: 35px;}
.mybook4 tr th{background-color: #f7f7f7;}
.mybook4 tr td{text-align: center;}
.mybook5 {
  height: 34px;
  font-size: 14px;
  line-height: 34px;
  padding: 0 20px;
  width: 100px;
  color: #757575;
  border:1px solid #757575;
  float: left;
  border-bottom: none;
}
.mybook-click{
  background-color: #dd6000;
  font-weight: bold;
  color: #fff;
  border-right: #dd6000;
  border-top: #dd6000;
  border-left: #dd6000;
}
/*搜索*/
.shousuo1{padding: 14px;margin-bottom: 10px;height: 140px;border-bottom: 1px solid #e9e9e9;}
.sousuo2{color: #5a5a5a;font-size: 12px;}
.sousuo3{background-color: #0a7a87;width: 80px;height: 38px;line-height: 38px;}
.sousuo4{background-color: #f9b25d;width: 80px;height: 38px;line-height: 38px;}
/*书籍详情*/
.bookxiangqing1{color: #656565;font-size: 12px;border-bottom:1px dashed #dd6000;width: 480px;}
.bookxiangqing1 tr{height: 30px;}
.bookxiangqing2{width: 107px;height: 34px;line-height: 34px;font-size: 16px;background-color: #dd6000;}
.bookxiangxisuo{width: 85px;height: 32px;background-color:#dd6000;line-height: 32px;}
/*展示自己*/
.showus1{width: 508px;float: left;}
.showus1 tr{height: 50px;}
.showus1 tr td{font-size: 15px;font-family: "微软雅黑";}
.showus1 tr td input{height: 30px;}
.showus1 tr td textarea{height: 100px;width: 250px;resize: none;}
.showself1{height: 150px;padding: 10px;clear: both;}
.showself2{color: #464646;font-size: 12px;line-height: 30px;width: 130px;height: 142px;}
.showself3{height: 27px;width: 80px;line-height: 27px;font-size: 12px;text-align: center;background-color: #52a652;}
.showself4{background-color: #e9e9e9;width: 500px;height: 100px;margin: 10px 0;float: left;}
.showself5{color: #848484;font-size: 12px;margin: 20px;}
.showself5 tr{height: 30px;}
/*填写信息*/
.tianxie1{width: 372px;}
.tianxie2{display: block;margin: 5px auto;width: 120px;}
.tianxie4{width: 110px;height: 34px;background-color: #d5d5d6;line-height: 32px;text-align: center;}
/*招聘*/
.zhaoping{width: 1200px;border: 1px solid #bc813a;margin: 20px auto;padding: 20px;}
.zhaoping2{color: #debd96;font-size: 48px;margin: 0 auto; text-align:center;}
.zhaoping3{color: #a4a4a4;font-size: 20px;margin: 0 auto;width: 140px;height: 34px;}
.zhaoping4{background-color: #f7efe5;font-size: 20px;padding: 0 15px;line-height: 40px;}
.zhaoping5{font-size: 15px;margin: 20px;}
.zhaoping5 tr{height: 45px;}
.zhaoping5input{height: 26px;width: 240px;}
.zhaoping6{font-size: 14px;color: #5d5d5d;padding: 10px;line-height: 32px;}
/*招兵*/
.zhaobing{line-height: 30px;}
.zhaobing ul{margin-left: 40px;}
.zhaobing ul li{list-style:disc;}
/*编辑详情-图片滚动*/
.scroll {
  width: 748px;
  height: 150px;
}
.scrollwrap {
  float: left;
  width: 572px;
  margin-left: 30px;
  padding: 10px 0;
  overflow: hidden;
}
.scroll ul {
  height: 122px;
  width: 1080px;
  padding: 0px 0px;
  overflow: hidden;
}
.scroll ul li {
  list-style: none;
  float: left;
  margin-right: 30px;
}
.scroll ul li:hover{
  border: 1px solid #dd6000;
}
.scroll ul li img {
  float: left;
  height: 120px;
}
.btnleft {
  float: left;
  width: 30px;
  height: 58px;
  margin-top: 40px;
  margin-left: 10px;
  margin-right: 30px;
  background: url(../images/scroll-left.png) no-repeat;
}
.btnright {
  float: left;
  width: 30px;
  height: 58px;
  margin-top: 40px;
  margin-left: 30px;
  background: url(../images/scroll-right.png) no-repeat;
}

/*支付*/
.zhifu-contain{
  padding: 15px;
  border: 1px solid #d0d0d0;
  margin-bottom: 20px;
}
.zhifu-title{
  height: 30px;
  border-bottom: 1px solid #d0d0d0;
}
.zhifu-pro{
  line-height: 26px;
  border-bottom: 1px solid #d0d0d0;
  padding: 10px 0; 
}
.zhifu-way{
  line-height: 40px;
  border-bottom: 1px dashed #d0d0d0;
  padding: 10px 0; 
  font-weight: bold;
}
.zhifu-pintai{
  padding: 0;
  /*border-bottom: 1px dashed #d0d0d0;*/
}
.bank1{
  float: left;
  width: 91px;
  height: 32px;
  background: url(../images/icon_pay.png) no-repeat 0 -886px;
}
.bank2{
  float: left;
  width: 91px;
  height: 32px;
  background: url(../images/icon_pay.png) no-repeat 0 -805px;
}
.bank3{
  float: left;
  width: 91px;
  height: 32px;
  background: url(../images/icon_pay.png) no-repeat 0 -4px;
}
.bank4{
  float: left;
  width: 91px;
  height: 32px;
  background: url(../images/icon_pay.png) no-repeat 0 -44px;
}
.bank5{
  float: left;
  width: 91px;
  height: 32px;
  background: url(../images/icon_pay.png) no-repeat 0 -84px;
}
.bank6{
  float: left;
  width: 91px;
  height: 32px;
  background: url(../images/icon_pay.png) no-repeat 0 -124px;
}
.bank7{
  float: left;
  width: 91px;
  height: 32px;
  background: url(../images/icon_pay.png) no-repeat 0 -164px;
}
.bank8{
  float: left;
  width: 91px;
  height: 32px;
  background: url(../images/icon_pay.png) no-repeat 0 -204px;
}
.bank9{
  float: left;
  width: 91px;
  height: 32px;
  background: url(../images/icon_pay.png) no-repeat 0 -244px;
}
.bank10{
  float: left;
  width: 91px;
  height: 32px;
  background: url(../images/icon_pay.png) no-repeat 0 -284px;
}
.bank11{
  float: left;
  width: 91px;
  height: 32px;
  background: url(../images/icon_pay.png) no-repeat 0 -324px;
}
.bank12{
  float: left;
  width: 91px;
  height: 32px;
  background: url(../images/icon_pay.png) no-repeat 0 -364px;
}
.bank13{
  float: left;
  width: 91px;
  height: 32px;
  background: url(../images/icon_pay.png) no-repeat 0 -404px;
}
.bank14{
  float: left;
  width: 91px;
  height: 32px;
  background: url(../images/icon_pay.png) no-repeat 0 -484px;
}
.zhouchou_wrap{
	width:1200px;
	margin: auto auto 24px;
}
.zhouchou_wrap h2{
	font: 18px/50px "Microsoft yahei";
	color: #945305;
	border-bottom: 1px solid #945305;
}
.zhouchou_left{
	width: 70%;
	overflow: hidden;
}
.zhouchou_right{
	width: 30%;
	overflow: hidden;
}
.zhouchou_tip{
	width: 90%;
	margin-left: 8%;
	background-color: #f8f8f8;
	border:1px solid #eee;
	margin-top: 24px;
}
.zhouchou_tip h3{
	margin:24px;
	font: 18px/20px "Microsoft yahei";
	color: #333;
}
.zhouchou_tip dl{
	margin: auto 24px 24px 24px;
}
.zhouchou_tip dt{
	font: 700 12px/24px "宋体";
	color: #666;
}
.res_box{
	background-color: #fff;
	border:1px solid #ddd;
}
.res_box dt,.res_box dd{
	margin: 12px;
}
.res_box img{
	width:100%;
}
.zhouchou_tip dd{
	font: 12px/24px "宋体";
	color: #666;
}
.zhouchou_tip dd p{
	font: 12px/24px "宋体";
	color: #999;
}
.zc_table{
	width: 90%;
	border-collapse: collapse;
	margin-top: 24px;
	margin-bottom: 24px;
}
.zc_table th{
	font: 14px/32px "Microsoft yahei";
	color: #333;
	height: 32px;
	text-align: center;
	background-color: #f8f8f8;
	border:1px solid #ddd;
}
.zc_table td{
	font: 12px/32px "Microsoft yahei";
	color: #555;
	height: 32px;
	border:1px solid #ddd;
	text-align: center;
}
.zc_table2{
	width: 100%;
	margin-top: 24px;
}
.zc_table2 th{
	width: 12%;
	text-align: right;
	font: 15px/30px "Microsoft yahei";
	color: #333;
	vertical-align: top;
	padding-top: 8px;
}
.zc_table2 td{
	padding-top: 8px;
	padding-bottom: 8px;
}
.zc_table2 .input_text{
	height:24px;
	width: 50%;
	margin-right: 12px;
}
.zc_table2 span{
	font: 15px "Microsoft yahei";
	color: #333;
}
.zc_table2 textarea{
	width: 80%;
	height: 100px;
}
.zc_upload_btn{
	background-color: #c4c4c4;
    font-size: 15px;
    height: 32px;
    line-height: 32px;
    width: 90px;
    border:0;
    border-radius: 4px;
}
.zc_upload_btn_opacity{
	position: absolute;
	opacity: 0;
	filter:alpha(opacity=0);
	cursor: pointer;
}
.zc_table2 p{
	display: inline-block;
	color: #8d8d8d;
    font-size: 12px;
    font-family: "Microsoft yahei";
}
.zc_btn_1{
	height: 30px;
	border:1px solid #caa476;
	padding-left: 12px;
	padding-right: 12px;
	cursor: pointer;
}.zc_btn_2{
	height: 50px;
	padding-left: 40px;
	padding-right: 40px;
	background-color: #caa476;
	border:0;
	color: #fff;
	font-size:19px;
}
.zc_class{

}
.zc_class li{
	display: inline-block;
	height: 30px;
	padding-left: 12px;
	padding-right:12px;
	border:1px solid #ddd;
	line-height: 30px;
	cursor: pointer;
}
.zc_class .zc_select{
	background-color: #caa476;
	color: #fff;
}

.zhifu-table{ }

.zhifu-table tr{height: 60px;}

.zhifu-table tr td{width: 200px;}

.zhifu-table tr td input{
  position: relative;
  top: 7px;
  margin-right: 10px;
}
/*全文检索*/
.whole-input{
  height: 40px;
  width: 588px;
  margin: 0 auto;
}
.whole-content{
  border: 1px solid #eaeaea;
  margin: 10px 120px;
  padding: 10px 20px;
  line-height: 24px;
  font-size: 16px;
}

.whole-title{
  width: 1200px;
  text-align: center;
}
/*浮动帮助栏*/
.fhelp_url{
	display:block;
	width:100%;
	height:60px;
	margin-top:210px;
}
.fhelp img{margin-top: 4px;}

/*.nav-hover {
  border-top: 2px solid #562d03;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  height: 71px !important;
  background-color: #be996d;
  color: #fff;
}*/
.nav-hover {
  border-top: 3px solid #562d03;
  border-left: 1px solid #c6a680;
  border-right: 1px solid #c6a680;
  height: 71px !important;
  background-color: #fff;
  color: #A5562E;
}
.nav-hover-a {
  color: #fff;
}

/*图片切换*/
#banner{width:1200px;height:410px;}
.slides{margin:0px auto;width:1200px;height:410px;overflow:hidden;position:relative;}
.slide-pic{width:1200px;overflow:hidden;list-style:none;}
/*.slide-pic img{width:1200px;height:410px;}*/
.slide-pic li{display:none;}
.slide-pic li.cur{display:block;}
.slide-li{right:50px;bottom:10px;position:absolute;}
.slide-li li{width:10px;height:10px;float:left;overflow:hidden;list-style:none;margin-left: 5px;}
.slide-li a{width:10px;height:10px;color:#000;font-size:12px;display:block;}
.slide-li a:hover{color:#F00;text-decoration:none;}
.op li{background:#999999;filter:alpha(opacity=60);opacity:0.6;}
.op li.cur{background:#666666;}


.user {
  margin-bottom: 20px;
  float: left;
}
label {
  width: 72px;
  display: inline-block;
  font-family: "微软雅黑";
  font-size: 18px;
  color: #d6d5d0;
  text-align: right;
}
.pswd {
  float: left;
  margin-bottom: 10px;
}
.loginbtn1 {
  background: #93c97d;
  width: 100px;
  height: 35px;
  color: #fff;
  font-family: "微软雅黑";
  font-size: 16px;
  text-align: center;
  line-height: 35px;
  float: left;
  margin-left: 75px;
  cursor: pointer;
}
.logincb {
  margin-left: 20px;
  margin-top: 10px;
  float: left;
}
.logintxt span {
  margin-top: 5px;
  margin-left: 5px;
  float: left;
  font-family: "微软雅黑";
  font-size: 14px;
  color: #d6d5d0;
}
.loginfooter {
  font-family: "微软雅黑";
  font-size: 12px;
  color: #d6d5d0;
  text-align: center;
  margin-left: 40px;
}
.inputxt {
  border: 1px solid #ddd;
  height: 30px;
  font-size: 16px;
  text-indent: 3px;
  line-height: 30px;
}
.content {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  width: 1200px;
  margin: 0 auto;
  /*border: 1px solid #eaeaea;*/
  font-size: 12px;
  line-height: 30px;
}
.question {
  list-style: decimal;
  clear: both;
}
.answer li {
  float: left;
  margin-right: 30px;
  list-style: none;
}
.answer li input {
  margin-right: 10px;
}
.btnb {
  clear: both;
  height: 35px;
  width: 275px;
  margin: 0 auto;
}
.question-ul {
  margin-bottom: 100px;
}
.banner_m {
  border: 1px solid #dd6000;
  padding: 10px;
  float: left;
  margin-bottom: 20px;
  width: 1020px;
}
.banner_img {
  
}
.index-writer {
  float: left;
  width: 530px;
  height: 420px;
  border-right: 1px solid #e1e1e1;
}
.index-chushu {
  height: 64px;
  color: #996633;
  padding-left: 68px;
  padding-top: 10px;
}
.index-bianji2 {
  margin-top:10px;
  float: left;
  height: 25px;
  font-size: 12px;
  line-height: 25px;
  border: 1px solid #5ea615;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
}
.xuanfu {
  position: absolute;
  top: 400px;
  z-index: 100;
  width: 200px;
  height: 65px;
  background-color: #c2a385;
  color: #fff;
  filter:alpha(opacity=50); 
  -moz-opacity:0.8; 
  opacity:0.8;
  padding-top: 20px;
  padding-right: 5px;
  line-height: 1.5em;
}
.border-lr {
  float: left;
  margin-top: 20px;
  height: 80px;
  width: 0;
  border-left: 1px #e3e3e3 solid;
  border-right: 1px #fff solid;
}

/*For Firefox Chrome*/
.imgThumbCenter{width:76px;height:114px;overflow:hidden;text-align:center;display:table;float:left;position:relative;}
.imgThumbCenter a{display:table-cell;vertical-align:middle;width:76px;height:114px;}
.imgThumbCenter a img{margin:0 auto;max-width:76px;max-height:114px;}

.imgIndexCenter{width:150px;height:225px;overflow:hidden;text-align:center;display:table;float:left;position:relative;}
.imgIndexCenter a{display:table-cell;vertical-align:middle;width:150px;height:225px;}
.imgIndexCenter a img{margin:0 auto;max-width:150px;max-height:225px;}
/*For IE7*/
*+html .imgThumbCenter a{position:absolute;top:50%;width:100%;text-align:center;height:auto;}
*+html .imgThumbCenter a img{position:relative;top:-50%;left:-50%;}

/*For IE7*/
*+html .imgIndexCenter a{position:absolute;top:50%;width:100%;text-align:center;height:auto;}
*+html .imgIndexCenter a img{position:relative;top:-50%;left:-50%;}

.bookDisplayCenter{width:214px;height:300px;overflow:hidden;text-align:center;display:table;float:left;position:relative;}
.bookDisplayCenter a{display:table-cell;vertical-align:middle;width:214px;height:300px;}
.bookDisplayCenter a img{margin:0 auto;max-width:214px;max-height:300px;}
/*For IE7*/
*+html .bookDisplayCenter a{position:absolute;top:50%;width:100%;text-align:center;height:auto;}
*+html .bookDisplayCenter a img{position:relative;top:-50%;left:-50%;}

.bookIndexCenter{width:100px;height:140px;overflow:hidden;text-align:center;display:table;float:left;position:relative;}
.bookIndexCenter a{display:table-cell;vertical-align:middle;width:100px;height:140px;}
.bookIndexCenter a img{margin:0 auto;max-width:100px;max-height:140px;}
/*For IE7*/
*+html .bookIndexCenter a{position:absolute;top:50%;width:100%;text-align:center;height:auto;}
*+html .bookIndexCenter a img{position:relative;top:-50%;left:-50%;}

.bookThumbCenter{width:72px;height:100px;overflow:hidden;text-align:center;display:table;float:left;position:relative;}
.bookThumbCenter a{display:table-cell;vertical-align:middle;width:72px;height:100px;}
.bookThumbCenter a img{margin:0 auto;max-width:72px;max-height:100px;}
/*For IE7*/
*+html .bookThumbCenter a{position:absolute;top:50%;width:100%;text-align:center;height:auto;}
*+html .bookThumbCenter a img{position:relative;top:-50%;left:-50%;}
